asgiref==3.8.1
beautifulsoup4==4.12.2
confusable-homoglyphs==3.2.0
Django==5.0.3
django-bootstrap4==23.1
django-registration==3.3
djangorestframework==3.14.0
gunicorn==21.2.0
packaging==23.1
Pillow==9.5.0
psycopg2-binary==2.9.6
pyscopg2==66.0.2
pytz==2023.3
soupsieve==2.4.1
sqlparse==0.4.4
typing_extensions==4.10.0
