{% extends 'base.html' %}

{% block content %}

<body style=" background-image: url('https://images.unsplash.com/photo-1604065626882-47c3093bec11?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTF8fHZvdGV8ZW58MHx8MHx8&auto=format&fit=crop&w=500&q=60');
    background-size: cover;
    background-repeat:  no-repeat;
    ">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Special+Elite&display=swap" rel="stylesheet">

    <div class="container">
        <div class="row center">
            <div class="col-md-6">
                <hr>
                <h2 style="text-align: center; font-family: 'Special Elite', cursive;">Edit poll</h2>
                {% if messages %}
                <div class="messages">
                    {% for message in messages %}
                    <div class="{{ message.tags }}">{{ message }}
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    {% endfor %}
                </div>
                {% endif %}
                <form action="" method="POST">
                    {% csrf_token %}
                    {% for field in form %}
                    <div class="form-group">
                        {{ field.label_tag }}
                        {{ field }}
                    </div>
                    {% endfor %}
                    <button type="submit" class="btn btn-primary" style="font-family: 'Special Elite', cursive;">Update</button>
                    <a class="btn btn-warning" href="{% url 'add_choice' poll.id %}" role="button"
                        style="margin-left: 100px; font-family: 'Special Elite', cursive;">Add Choice</a>
                    <a class="btn btn-danger" href="{% url 'delete_poll' poll.id %}" role="button"
                        onclick="return confirm('Are you sure?')"
                        style="margin-left: 130px; font-family: 'Special Elite', cursive;">Delete</a>
                </form>
            </div>
            <div class="col-md-6">
                <div class="choices">
                    <h2 class="text-center mt-3" style="font-family: 'Special Elite', cursive;">Choices</h2>
                    <hr>
                    <ul class="list-group">
                        {% for choice in poll.choice_set.all %}
                        <li class="list-group-item"><a href=""><i class="fas fa-pencil-alt"></i></a>&nbsp
                            {{ choice.choice_text }}</li>
                        {% endfor %}
                    </ul>
                </div>
            </div>


        </div>
    </div>
</body>
{% endblock %}